body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-33px;
  width:638px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3246 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:55px;
  width:638px;
  height:533px;
}
#u3246_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:533px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:523px;
  display:flex;
  text-align:left;
}
#u3247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:44px;
  display:flex;
  text-align:left;
}
#u3248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3249 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:5px;
  width:45px;
  height:34px;
  display:flex;
}
#u3249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3251 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:87px;
  width:536px;
  height:385px;
}
#u3252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:47px;
}
#u3252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:47px;
  display:flex;
}
#u3252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:47px;
}
#u3253 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:414px;
  height:47px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u3254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:122px;
  height:42px;
  display:flex;
}
#u3254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:42px;
}
#u3255 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:47px;
  width:414px;
  height:42px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:43px;
}
#u3256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:122px;
  height:43px;
  display:flex;
}
#u3256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:43px;
}
#u3257 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:89px;
  width:414px;
  height:43px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:43px;
}
#u3258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:122px;
  height:43px;
  display:flex;
}
#u3258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:43px;
}
#u3259 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:132px;
  width:414px;
  height:43px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u3260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:122px;
  height:42px;
  display:flex;
}
#u3260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:42px;
}
#u3261 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:175px;
  width:414px;
  height:42px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u3262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:122px;
  height:42px;
  display:flex;
}
#u3262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:42px;
}
#u3263 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:217px;
  width:414px;
  height:42px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u3264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:122px;
  height:42px;
  display:flex;
}
#u3264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:42px;
}
#u3265 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:259px;
  width:414px;
  height:42px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u3266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:301px;
  width:122px;
  height:42px;
  display:flex;
}
#u3266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:42px;
}
#u3267 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:301px;
  width:414px;
  height:42px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
}
#u3268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:122px;
  height:42px;
  display:flex;
}
#u3268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:42px;
}
#u3269 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:343px;
  width:414px;
  height:42px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u3269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:476px;
  width:637px;
  height:57px;
  display:flex;
}
#u3271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 133, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3273 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:488px;
  width:78px;
  height:34px;
  display:flex;
  color:#FFFFFF;
}
#u3273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3274 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:488px;
  width:78px;
  height:34px;
  display:flex;
}
#u3274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3276_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u3276 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:143px;
  width:118px;
  height:25px;
  display:flex;
  color:#7F7F7F;
}
#u3276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3276_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u3276.disabled {
}
#u3277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3277_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u3277 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:143px;
  width:118px;
  height:25px;
  display:flex;
  color:#7F7F7F;
}
#u3277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3277_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u3277.disabled {
}
#u3278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3278 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:148px;
  width:14px;
  height:16px;
  display:flex;
}
#u3278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3279 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:218px;
  width:59px;
  height:44px;
  display:flex;
}
#u3279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u3280 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:232px;
  width:184px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u3280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3281 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:55px;
  width:78px;
  height:42px;
  display:flex;
}
#u3281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3282 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:533px;
  width:218px;
  height:49px;
  display:flex;
}
#u3282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
